html,
body {
  padding: 0;
  margin: 0;
}

#root {
}

.chatOuterContainer {
  background-color:rgb(42, 38, 83);
  height: 100vh;
}
.chatInnerContainer {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.appbar {
  /* display: flex;
  flex-direction: column; */
}
.toolBar {
  justify-content: space-between;
  margin: 10px;
}

.chatScreen {
  height: 70vh;
  width: 50vh;
  display: flex;
}
.chatScreenPaper {
  /* margin: 10px; */
  /* padding: 20px; */
  flex: 1;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
}

@media screen and (max-width: 768px) {
  .appbar {
    display: none;
  }
  .chatScreen {
    width: 100%;
    height: 100%;
  }
}

/* Tablet Device */
@media screen and (min-width: 768px) and (max-width: 1800px) {
  .chatScreen {
    /* width: 100%; */
  }
}
